:root {
  --header-font: 'Titan One', sans-serif;
  --main-font: 'DM Sans', sans-serif;
  --coral-pink-headers: #ffa5ba;
  --dark-red-brand-color: #d41443;
}

body {
  font-family: var(--main-font);
}

.products-header-wrap {
  font-family: var(--header-font);
}

.products-first-header {
  color: var(--coral-pink-headers);
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}

.products-second-header {
  color: var(--dark-red-brand-color);
  text-transform: uppercase;
  font-size: 58px;
  margin: 0;
}
