.container {
  width: 100%;
  margin: auto;
  padding: 0 20px;

  @include mq(mobile) {
    min-width: 320px;
  }

  @include mq(tablet) {
    min-width: 728px;
    padding: 0 32px;
  }

  @include mq(desktop) {
    min-width: 1200px;
    padding: 0 16px;
  }
}
