@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --header-font: "Titan One", sans-serif;
  --main-font: "DM Sans", sans-serif;
  --coral-pink-headers: #ffa5ba;
  --dark-red-brand-color: #d41443;
  --bgc-products_first-color: #ffb8ca;
  --bgc-products_second-color: #f0d1a5;
  --bgc-products_third-color: #c2e297;
  --white-text-color: #fff;
}

body {
  font-family: var(--main-font);
}

.products-header-wrap {
  font-family: var(--header-font);
  margin-bottom: 8px;
}

.products-first-header {
  color: var(--coral-pink-headers);
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  text-align: center;
  font-family: "Titan One", sans-serif;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 1.2px;
  line-height: normal;
}

.products-second-header {
  color: var(--dark-red-brand-color);
  text-transform: uppercase;
  font-size: 34px;
  margin: 0;
  text-align: center;
  font-family: "Titan One", sans-serif;
  font-size: 34px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.48px;
}

.container {
  width: 100%;
  margin: auto;
  padding: 0 20px;
}

.products-section-container {
  padding: 60px 20px;
}

.products-card-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
}

.products-card {
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 24px;
  border: none;
}

.products-card-image {
  width: 280px;
  height: 280px;
  flex-shrink: 0;
  border: none;
}

.products-card-items-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 24px;
  padding-bottom: 40px;
}

.products-card-header {
  color: var(--white-text-color);
  text-align: center;
  font-family: "Titan One", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.products-card-icon {
  fill: var(--white-text-color);
}

.products-card-paragraph {
  color: var(--white-text-color);
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 176%;
  letter-spacing: 0.56px;
}

.icecoffee {
  background-color: var(--bgc-products_second-color);
}

.icecream {
  background-color: var(--bgc-products_first-color);
}

.milkshake {
  background-color: var(--bgc-products_third-color);
}

.products-card-button {
  border-radius: 50%;
  background-color: var(--white-text-color);
  min-width: 40px;
  min-height: 40px;
  border: none;
}

.products-card-button-icon {
  fill: #d41443;
}

@media screen and (728px <= width < 1200px) {
  .products-header-wrap {
    margin-bottom: 20px;
  }
  .products-first-header {
    font-size: 26px;
  }
  .products-second-header {
    font-size: 48px;
  }
  .products-card-list {
    flex-direction: row;
    gap: 16px;
    justify-content: center;
  }
  .products-section-container {
    padding-left: 32px;
    padding-right: 32px;
  }
  .products-card {
    width: 224px;
    min-height: 473px;
  }
  .products-card-image {
    width: 224px;
    height: 224px;
  }
  .products-card-paragraph {
    width: 188px;
    height: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .products-first-header {
    font-size: 30px;
  }
  .products-second-header {
    font-size: 58px;
  }
  .products-card-list {
    flex-direction: row;
    gap: 32px;
    justify-content: center;
  }
  .products-card-paragraph {
    font-size: 16px;
  }
  .products-card-header {
    font-size: 30px;
  }
  .products-section-container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .products-header-wrap {
    margin-bottom: 20px;
  }
  .products-card {
    width: 368px;
  }
  .products-card-image {
    width: 368px;
    height: 394px;
  }
}
p,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=index.css.map */