<section class="products-section">
  <div class="products-section-container"></div>
  <div class="products-header-wrap">
    <h2 class="products-first-header">100% natural</h2>
    <h1 class="products-second-header">products</h1>
  </div>
  <ul class="products-card-list">
    <li class="products-card">
      <img
        src="./images/icecream.jpg"
        alt="pink-ice-cream"
        class="products-card-image"
      />
      <svg width="25" height="6" class="products-card-icon">
        <use href="./images/icons.svg#dots"></use>
      </svg>
      <p class="products-card-paragraph">
        Indulge in our rich and creamy ice cream, handcrafted with all-natural
        ingredients and available in a variety of flavors.
      </p>
      <button class="product-card-button" type="button">
        <svg>
          <use href="./images/icons.svg#arrow-right"></use>
        </svg>
      </button>
    </li>
    <li class="products-card">
      <img
        src="./images/icecoffee.jpg"
        alt="ice-coffee-with-straw"
        class="products-card-image"
      />
      <svg width="25" height="6" class="products-card-icon">
        <use href="./images/icons.svg#dots"></use>
      </svg>
      <p class="products-card-paragraph">
        Refresh and energize with our perfectly brewed iced coffee, made with
        high-quality beans and served over ice.
      </p>
      <button class="product-card-button" type="button">
        <svg>
          <use href="./images/icons.svg#arrow-right"></use>
        </svg>
      </button>
    </li>
    <li class="products-card">
      <img
        src="./images/milkshake.jpg"
        alt="milkshake-with-biscuits-and-marshmallows"
        class="products-card-image"
      />
      <svg width="25" height="6" class="products-card-icon">
        <use href="./images/icons.svg#dots"></use>
      </svg>
      <p class="products-card-paragraph">
        Satisfy your sweet tooth with our thick, made with premium ice cream,
        topped with whipped cream and your favorite toppings.
      </p>
      <button class="product-card-button" type="button">
        <svg width="20" height="20">
          <use href="./images/icons.svg#arrow-right"></use>
        </svg>
      </button>
    </li>
  </ul>
</section>
