<section class="products-section">
  <div class="products-section-container container"></div>
  <div class="products-header-wrap">
    <p class="products-first-header">100% natural</p>
    <h2 class="products-second-header">products</h2>
  </div>
  <ul class="products-card-list">
    <li class="products-card icecream">
      <div class="products-card-items-wrapper icecream-wrapper">
        <h3 class="products-card-header">Ice Cream</h3>
        <svg width="25" height="6" class="products-card-icon">
          <use href="./images/icons.svg#dots"></use>
        </svg>
        <p class="products-card-paragraph">
          Indulge in our rich and creamy ice cream, handcrafted with all-natural
          ingredients and available in a variety of flavors.
        </p>
        <button class="products-card-button" type="button">
          <svg width="12" height="12" class="products-card-button-icon">
            <use href="./images/icons.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </li>
    <li class="products-card icecoffee">
      <div class="products-card-items-wrapper">
        <h2 class="products-card-header">Ice Coffee</h2>
        <svg width="25" height="6" class="products-card-icon">
          <use href="./images/icons.svg#dots"></use>
        </svg>
        <p class="products-card-paragraph">
          Refresh and energize with our perfectly brewed iced coffee, made with
          high-quality beans and served over ice.
        </p>
        <button class="products-card-button" type="button">
          <svg width="12" height="12" class="products-card-button-icon">
            <use href="./images/icons.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </li>
    <li class="products-card milkshake">
      <div class="products-card-items-wrapper milkshake-wrapper">
        <h2 class="products-card-header">Milkshake</h2>
        <svg width="26" height="6" class="products-card-icon">
          <use href="./images/icons.svg#dots"></use>
        </svg>
        <p class="products-card-paragraph">
          Satisfy your sweet tooth with our thick, made with premium ice cream,
          topped with whipped cream and your favorite toppings.
        </p>
        <button class="products-card-button" type="button">
          <svg width="12" height="12" class="products-card-button-icon">
            <use href="./images/icons.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </li>
  </ul>
</section>
